#formulariodepago{
    border: 1px gainsboro;
}

#titulito{
    color: rgb(194, 104, 104);
    background-color: rgb(231, 156, 168);
    padding: 15px;
    
}

#tarjetas {
    
    background-color: rgb(206, 201, 201);
    margin: 0;
}



#colon{

    text-align: right;
}
#monto{
    width: 100%;
}

#colon{
    width: 25%;
}

input{
    border: 1px solid
}